{% extends 'adminbase.html.twig' %}

{% block title %}Hello adminController!{% endblock %}

{% block body %}
    <!--main content start-->
    <section id="main-content">
        <section class="wrapper site-min-height">
            <h3><i class="fa fa-angle-right"></i> Blank Page</h3>
            <div class="row mt">
                <div class="col-lg-12">
    <h1>Edit Setting</h1>

    {{ include('admin/setting/_form.html.twig', {'button_label': 'Update'}) }}

    </div>
    </div>
    </section>
    <!-- /wrapper -->
    </section>
    <!-- /MAIN CONTENT -->
{% endblock %}
