{% extends 'adminbase.html.twig' %}

{% block title %}Hello adminController!{% endblock %}

{% block body %}
    <!--main content start-->
    <section id="main-content">
        <section class="wrapper site-min-height">
            <h3><i class="fa fa-angle-right"></i> Blank Page</h3>
            <div class="row mt">
                <div class="col-lg-12">
                    <h1>Edit Messages</h1>

                    {{ include('admin/messages/_form.html.twig', {'button_label': 'Update'}) }}
                    <br>
                    <a class="btn btn-block btn-default" href="{{ path('admin_messages_index') }}">back to list</a>
                    <br>
                    {{ include('admin/messages/_delete_form.html.twig') }}
                </div>
            </div>
        </section>
        <!-- /wrapper -->
    </section>
    <!-- /MAIN CONTENT -->
{% endblock %}
