

        <aside class="single_sidebar_widget post_category_widget">
            <h3 class="widget_title">Category</h3>
            <hr><br>
            <ul class="list cat-list">
                <li>
                    <a href="/user" class="d-flex">
                        <p>My Profile</p>

                    </a>
                </li>
                <li>
                    <a href="/user/product" class="d-flex">
                        <p>My Advert</p>

                    </a>
                </li>
                <li>
                    <a href="/user/comments" class="d-flex">
                        <p>My Comments</p>

                    </a>
                </li>
                <li>
                    <a href="/logout" class="d-flex">
                        <p>Logout</p>

                    </a>
                </li>
            </ul>
        </aside>
